
    /* clears indentation */
    body{
      margin:0;
      padding:0;
    }
  
    .content {
    position: fixed;
    bottom: 0;
    background: black;
    opacity: 0.7;
    color: white;
    width: 50%;
    padding: 20px;
    border: 1px solid black;
   }
  
    video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    }
  
    #btn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background:white;
    color:black;
    cursor: pointer;
    margin-bottom: 20px;
  }
